[submodule "testlib"]
path = packages/hydrojudge/vendor/testlib
url = https://github.com/MikeMirzayanov/testlib.git

[submodule "language-server"]
path = language-server
url = https://github.com/PKU-Liang-OJ/language-server.git
